/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/* line 7, ../sass/main.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 11, ../sass/main.scss */
html {
  font-size: 1em;
  line-height: 1.4;
}

/* line 16, ../sass/main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 21, ../sass/main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 26, ../sass/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 38, ../sass/main.scss */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/* line 42, ../sass/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 48, ../sass/main.scss */
textarea {
  resize: vertical;
}

/* line 52, ../sass/main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 59, ../sass/main.scss */
a, a:focus, a:hover {
  outline: none;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/************************/
/*****SASS VARIABLES*****/
/************************/
/*Colors*/
/*Columns*/
/*100/1920*/
/*221.3333333/1920*/
/*342.6666633/1920*/
/*463.9999966/1920*/
/*585.3333299/1920*/
/*706.6666632/1920*/
/*827.9999965/1920*/
/*949.3333298/1920*/
/*1070.6666631/1920*/
/*1191.9999964/1920*/
/*1313.3333297/1920*/
/*1434.666663/1920*/
/*1555.9999963/1920*/
/*1677.3333296/1920*/
/*1798.6666629/1920*/
/*1920/1920*/
/*21.3333333/1920*/
/*10/1920*/
/*Typography*/
@font-face {
  font-family: 'AvenirBlack';
  src: url("avenirltstd-black.eot");
  src: url("avenirltstd-black.eot") format("embedded-opentype"), url("avenirltstd-black.woff") format("woff"), url("avenirltstd-black.ttf") format("truetype"), url("avenirltstd-black.svg#AvenirLTStd95Black") format("svg");
}

@font-face {
  font-family: 'AvenirHeavy';
  src: url("avenirltstd-heavy.eot");
  src: url("avenirltstd-heavy.eot") format("embedded-opentype"), url("avenirltstd-heavy.woff") format("woff"), url("avenirltstd-heavy.ttf") format("truetype"), url("avenirltstd-heavy.svg#AvenirLTStd85Heavy") format("svg");
}

@font-face {
  font-family: 'AvenirNextUltraLight';
  src: url("avenirnextltpro-ultlt.eot");
  src: url("avenirnextltpro-ultlt.eot") format("embedded-opentype"), url("avenirnextltpro-ultlt.woff") format("woff"), url("avenirnextltpro-ultlt.ttf") format("truetype"), url("avenirnextltpro-ultlt.svg#AvenirNextLTProUltraLight") format("svg");
}

@font-face {
  font-family: 'AvenirLight';
  src: url("avenirltstd-light.eot");
  src: url("avenirltstd-light.eot") format("embedded-opentype"), url("avenirltstd-light.woff") format("woff"), url("avenirltstd-light.ttf") format("truetype"), url("avenirltstd-light.svg#AvenirLTStd35Light") format("svg");
}

@font-face {
  font-family: 'AvenirMedium';
  src: url("avenirltstd-medium.eot");
  src: url("avenirltstd-medium.eot") format("embedded-opentype"), url("avenirltstd-medium.woff") format("woff"), url("avenirltstd-medium.ttf") format("truetype"), url("avenirltstd-medium.svg#AvenirLTStd65Medium") format("svg");
}

@font-face {
  font-family: 'AvenirNextBold';
  src: url("avenirnextltpro-bold.eot");
  src: url("avenirnextltpro-bold.eot") format("embedded-opentype"), url("avenirnextltpro-bold.woff") format("woff"), url("avenirnextltpro-bold.ttf") format("truetype"), url("avenirnextltpro-bold.svg#AvenirNextLTProBold") format("svg");
}

@font-face {
  font-family: 'AvenirNextRegular';
  src: url("avenirnextltpro-regular.eot");
  src: url("avenirnextltpro-regular.eot") format("embedded-opentype"), url("avenirnextltpro-regular.woff") format("woff"), url("avenirnextltpro-regular.ttf") format("truetype"), url("avenirnextltpro-regular.svg#AvenirNextLTProRegular") format("svg");
}

/*********************/
/*****SASS MIXINS*****/
/*********************/
/*Transitions*/
/* line 247, ../sass/main.scss */
h1 {
  font-weight: normal;
}

/* line 248, ../sass/main.scss */
body {
  background: #454545;
  font-family: "AvenirLight", Futura, "Trebuchet MS", Arial, sans-serif;
  color: #747474;
}

/* line 249, ../sass/main.scss */
.grid-marker {
  display: block;
  background: #0075be;
}

/*Navigation*/
/* line 252, ../sass/main.scss */
#contain-head {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1000;
  pointer-events: none;
  top: 0;
}

/* line 253, ../sass/main.scss */
header {
  width: 100%;
  height: 50px;
  background: #fff;
  background: rgba(255, 255, 255, 0.97);
  padding: 15px 0 0 0;
  position: absolute;
  left: 0;
  bottom: -70px;
  border-top: 1px solid #eee;
  -webkit-transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  pointer-events: all;
}
/* line 254, ../sass/main.scss */
header nav {
  float: right;
  color: #b3b3b3;
  font-size: 23px;
  text-align: right;
  width: 100%;
}
/* line 255, ../sass/main.scss */
header nav #bluestone-logo {
  width: 108px;
  height: 34px;
  float: left;
  margin: 0 0 0 2.5%;
}
/* line 256, ../sass/main.scss */
header nav #bluestone-logo img {
  width: 100%;
  max-width: 100%;
}
/* line 258, ../sass/main.scss */
header nav a.menu-button {
  margin: 8px 2.5% 0 0;
}
/* line 259, ../sass/main.scss */
header nav a {
  color: #b3b3b3;
  text-decoration: none;
  font-family: "AvenirLight", Futura, "Trebuchet MS", Arial, sans-serif;
}
/* line 260, ../sass/main.scss */
header nav > a {
  display: block;
  float: right;
}
/* line 261, ../sass/main.scss */
header nav > a .bars {
  width: 30px;
}
/* line 262, ../sass/main.scss */
header nav > a .bars span {
  width: 100%;
  height: 3px;
  display: block;
  background: #191919;
  margin: 0 0 5px 0;
  -webkit-transition: all .15s ease-in;
  -moz-transition: all .15s ease-in;
  -o-transition: all .15s ease-in;
  transition: all .15s ease-in;
}
/* line 267, ../sass/main.scss */
header nav > a:hover .bars span {
  background: #0075be;
  -webkit-transition: all .15s ease-in;
  -moz-transition: all .15s ease-in;
  -o-transition: all .15s ease-in;
  transition: all .15s ease-in;
}
/* line 270, ../sass/main.scss */
header nav ul {
  padding: 3.5% 2.5% 0 0;
  margin-top: 50px;
  height: 100%;
  background: rgba(255, 255, 255, 0.97);
  pointer-events: all;
  height: 9999px;
}
/* line 271, ../sass/main.scss */
header nav ul li {
  font-size: 72px;
  -moz-transform: translate(150px, 0);
  -o-transform: translate(150px, 0);
  -webkit-transform: translate(150px, 0);
  transform: translate(150px, 0);
  -webkit-transition: all .15s ease-in;
  -moz-transition: all .15s ease-in;
  -o-transition: all .15s ease-in;
  transition: all .15s ease-in;
  opacity: 0;
  margin-bottom: 2.5%;
}
/* line 272, ../sass/main.scss */
header nav ul li a {
  -webkit-transition: all .15s ease-out;
  -moz-transition: all .15s ease-out;
  -o-transition: all .15s ease-out;
  transition: all .15s ease-out;
}
/* line 273, ../sass/main.scss */
header nav ul li a:hover {
  color: #0075be;
}
/* line 275, ../sass/main.scss */
header nav ul li.in {
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  opacity: 1;
}

/* line 279, ../sass/main.scss */
.open header {
  -webkit-transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/* line 280, ../sass/main.scss */
.open #contain-head > header > nav > a.menu-button > div > span:nth-child(1), .open #contain-head > header > nav > a.menu-button > div > span:nth-child(3) {
  opacity: 0;
}

/* line 281, ../sass/main.scss */
.open .bars span {
  background: #0075be;
}

/*Page Load*/
/* line 284, ../sass/main.scss */
.blink {
  background: url("../img/blink.gif") repeat;
  width: 10%;
  height: 15px;
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 45%;
  display: block;
}

/* line 285, ../sass/main.scss */
#overlay {
  background: white;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
}

/* line 286, ../sass/main.scss */
#page-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 99;
  pointer-events: none;
}

/*Home*/
/* line 289, ../sass/main.scss */
#content {
  -webkit-transition: all .15s ease-out;
  -moz-transition: all .15s ease-out;
  -o-transition: all .15s ease-out;
  transition: all .15s ease-out;
  transition-delay: .1s;
  -webkit-transition-delay: .1s;
  /* Safari */
  -moz-transform-origin-y: 5%;
  -o-transform-origin-y: 5%;
  -webkit-transform-origin-y: 5%;
  transform-origin-y: 5%;
  position: relative;
  z-index: 1;
}

/* line 298, ../sass/main.scss */
#content.home video {
  position: fixed;
  bottom: 0;
  right: 0;
  min-height: 100%;
  min-width: 100%;
  max-width: 1000%;
  max-height: 4000%;
  width: auto;
  height: auto;
  overflow: hidden;
  display: block;
}

/* line 299, ../sass/main.scss */
.open #content {
  transition-delay: .1s;
  -webkit-transition-delay: .1s;
  /* Safari */
}

/* line 305, ../sass/main.scss */
.hometype {
  text-transform: uppercase;
  width: 93.68056;
  padding: 7.96875% 0 0 6.31944%;
  color: #fff;
  z-index: 100;
  position: relative;
}
/* line 307, ../sass/main.scss */
.hometype h1 {
  font-family: "AvenirLight", Futura, "Trebuchet MS", Arial, sans-serif;
  color: #fff;
  font-size: 5.625em;
  line-height: 1;
  margin: 0;
}
/* line 309, ../sass/main.scss */
.hometype h1 span {
  display: block;
  -webkit-transition: all .15s ease-out;
  -moz-transition: all .15s ease-out;
  -o-transition: all .15s ease-out;
  transition: all .15s ease-out;
  -moz-transform: translate(-20px, 0);
  -o-transform: translate(-20px, 0);
  -webkit-transform: translate(-20px, 0);
  transform: translate(-20px, 0);
}
/* line 310, ../sass/main.scss */
.hometype h1 span.inline {
  display: inline-block;
}
/* line 311, ../sass/main.scss */
.hometype h1 .once {
  margin-left: -.45%;
}
/* line 313, ../sass/main.scss */
.hometype .grid-marker {
  width: 5.5555556%;
  height: 12px;
  margin: 1.0833333% 0 2.2499999% 6.6666667%;
}
/* line 315, ../sass/main.scss */
.hometype a {
  color: #fff;
  text-decoration: none;
  margin-left: -13px;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: "AvenirLight", Futura, "Trebuchet MS", Arial, sans-serif;
  -webkit-transition: all .15s ease-out;
  -moz-transition: all .15s ease-out;
  -o-transition: all .15s ease-out;
  transition: all .15s ease-out;
}
/* line 317, ../sass/main.scss */
.hometype a span {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #fff;
  font-size: 0;
  line-height: 0;
  display: inline-block;
  margin: 0 0 0 5px;
  text-align: left;
  -webkit-transition: all .15s ease-out;
  -moz-transition: all .15s ease-out;
  -o-transition: all .15s ease-out;
  transition: all .15s ease-out;
}
/* line 319, ../sass/main.scss */
.hometype a:hover {
  color: #0075be;
  -webkit-transition: all .15s ease-out;
  -moz-transition: all .15s ease-out;
  -o-transition: all .15s ease-out;
  transition: all .15s ease-out;
}
/* line 320, ../sass/main.scss */
.hometype a:hover span {
  border-left: 5px solid #0075be;
  -webkit-transition: all .15s ease-out;
  -moz-transition: all .15s ease-out;
  -o-transition: all .15s ease-out;
  transition: all .15s ease-out;
  opacity: 0;
  margin: 0 0 0 10px;
}

/*Work*/
/* line 324, ../sass/main.scss */
.work .project * {
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/* line 325, ../sass/main.scss */
.work .project:hover * {
  opacity: 1;
  -webkit-transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/* line 327, ../sass/main.scss */
.work .project {
  opacity: 0;
  width: 46.875%;
  height: auto;
  background: url("../img/work-roadid.jpg") no-repeat center;
  color: #fff;
  display: block;
  float: left;
  text-decoration: none;
  padding: 0 0 0 3.125%;
  position: relative;
  background-size: cover;
  -webkit-transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
/* line 328, ../sass/main.scss */
.work .project h2, .work .project h3, .work .project .grid-marker {
  z-index: 10;
  position: relative;
}
/* line 329, ../sass/main.scss */
.work .project h2, .work .project h3 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* line 330, ../sass/main.scss */
.work .project h2 {
  font-family: "AvenirLight", Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 3.75em;
  line-height: 1;
  margin: 6.25% 0 0 0;
  text-transform: uppercase;
}
/* line 331, ../sass/main.scss */
.work .project h3 {
  font-family: "AvenirMedium", Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 0.6875em;
  width: 50%;
  letter-spacing: .5px;
}
/* line 332, ../sass/main.scss */
.work .project .grid-marker {
  width: 11.52778%;
  margin: 1.5% 0 3% 5.72917%;
  height: 12px;
}
/* line 333, ../sass/main.scss */
.work .project .overlay {
  background: rgba(0, 0, 0, 0.6);
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

/* line 335, ../sass/main.scss */
.work .project.in {
  opacity: 1;
}

/* line 337, ../sass/main.scss */
#roadid {
  background-image: url("../img/work-roadid.jpg");
}

/* line 338, ../sass/main.scss */
#amalfi {
  background-image: url("../img/work-amalfi.jpg");
}

/* line 339, ../sass/main.scss */
#downtek {
  background-image: url("../img/work-downtek.jpg");
}

/* line 340, ../sass/main.scss */
#cosign {
  background-image: url("../img/work-cosign.jpg");
}

/*Project*/
/* line 343, ../sass/main.scss */
.work-detail {
  background: #fff;
}
/* line 345, ../sass/main.scss */
.work-detail .summary {
  width: 74.72222%;
  margin: 8% auto 0 auto;
  color: #747474;
  font-family: "AvenirNextUltraLight", Futura, "Trebuchet MS", Arial, sans-serif;
}
/* line 347, ../sass/main.scss */
.work-detail .summary h4 {
  font-size: 2.25em;
  font-weight: normal;
  margin: 0 0 4% 0;
}
/* line 350, ../sass/main.scss */
.work-detail .summary p {
  font-size: 1.3125em;
  width: 49.256505%;
  float: left;
  margin: 0;
}
/* line 352, ../sass/main.scss */
.work-detail .summary p.left {
  margin: 0 1.48699% 0 0;
}
/* line 355, ../sass/main.scss */
.work-detail .work {
  margin-top: 7%;
  position: relative;
}
/* line 356, ../sass/main.scss */
.work-detail .work .caption {
  z-index: 500;
  display: block;
  font-size: 1.3125em;
  font-family: "AvenirNextUltraLight", Futura, "Trebuchet MS", Arial, sans-serif;
}
/* line 357, ../sass/main.scss */
.work-detail .work .caption .grid-marker {
  display: block;
  color: #0075be;
  height: 4px;
  width: 20px;
  position: absolute;
  left: 30px;
  top: 30px;
}
/* line 360, ../sass/main.scss */
.work-detail .work.full {
  width: 100%;
}
/* line 361, ../sass/main.scss */
.work-detail .work.full .caption {
  position: absolute;
  left: 12.63889%;
  color: #fff;
  top: 6.1538462%;
}
/* line 363, ../sass/main.scss */
.work-detail .work.type {
  margin: 10% 0 0 12.63889%;
  width: 17.84722%;
  float: left;
}
/* line 364, ../sass/main.scss */
.work-detail .work.half {
  width: 49.44444%;
  margin-right: 12.63889%;
  float: right;
}
/* line 367, ../sass/main.scss */
.work-detail .work.three-quarters {
  width: 74.72222%;
  margin-right: auto;
  margin-left: auto;
}
/* line 371, ../sass/main.scss */
.work-detail .work.half img, .work-detail .work.three-quarters img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
/* line 372, ../sass/main.scss */
.work-detail .work.half img:not(:first-child), .work-detail .work.three-quarters img:not(:first-child) {
  margin-top: 5.09259%;
}
/* line 374, ../sass/main.scss */
.work-detail .web-video {
  height: auto;
  width: 100%;
  max-height: 820px;
  background-size: contain;
  padding: 5% 0 0 0;
  background-repeat: no-repeat;
}
/* line 376, ../sass/main.scss */
.work-detail .web-video .laptop-holder {
  background: url("../img/web-video-laptop.png") no-repeat;
  width: 50%;
  background-size: contain;
  padding: 45% 12.5% 0 12.5%;
  position: relative;
  margin: 0 auto;
  z-index: 1;
}
/* line 378, ../sass/main.scss */
.work-detail .web-video .laptop-holder video, .work-detail .web-video .laptop-holder img {
  position: absolute;
  top: -5.15%;
  left: 13.473684%;
  width: 73.403509%;
  height: 100%;
}
/* line 379, ../sass/main.scss */
.work-detail .web-video .laptop-holder img {
  display: none;
  top: 6.65%;
  height: auto;
}

/* line 383, ../sass/main.scss */
.project-head {
  width: 100%;
  background: url("../img/header-amalfi.jpg") no-repeat;
  background-size: cover;
  padding: 40% 0 0 0;
  position: fixed;
  top: 0;
  min-width: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
  display: block;
  z-index: 1;
}

/* line 386, ../sass/main.scss */
.project-head.relative {
  position: relative;
}

/* line 387, ../sass/main.scss */
.project-head img {
  height: 25%;
  position: absolute;
  bottom: 60px;
  left: 8.0729167%;
  max-width: 100%;
  max-height: 100%;
}

/* line 388, ../sass/main.scss */
.project-body {
  z-index: 100;
  position: relative;
  background: #fff;
  overflow: hidden;
  margin: 40% 0 0 0;
}
/* line 389, ../sass/main.scss */
.project-body .title {
  width: 87.36111%;
  margin: 3.5% auto 0 auto;
  position: relative;
}
/* line 390, ../sass/main.scss */
.project-body .title h2, .project-body .title h3 {
  color: #252525;
  font-weight: normal;
  margin: 0;
  padding: 0;
  line-height: 1;
}
/* line 391, ../sass/main.scss */
.project-body .title h2 {
  text-transform: uppercase;
  font-size: 4.5em;
  font-family: "AvenirLight", Futura, "Trebuchet MS", Arial, sans-serif;
  float: left;
  width: 60%;
}
/* line 392, ../sass/main.scss */
.project-body .title h3 {
  font-family: "AvenirMedium", Futura, "Trebuchet MS", Arial, sans-serif;
  float: right;
  font-size: .875em;
  position: absolute;
  bottom: 15px;
  right: 0;
}

/*Project Tower*/
/* line 397, ../sass/main.scss */
.web-video.tower {
  background-image: url("../img/tower-web-video-bg.jpg");
}

/*Contact*/
/* line 401, ../sass/main.scss */
.contact h1 {
  color: red;
  font-weight: normal;
}

/*About*/
/* line 406, ../sass/main.scss */
.about h1 {
  color: #0075be;
  text-style: italic;
  background: none;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 2100px) {
  /* line 416, ../sass/main.scss */
  .web-video {
    background-size: cover !important;
  }
}
@media only screen and (max-width: 1280px) {
  /*Home*/
  /* line 423, ../sass/main.scss */
  .hometype h1 {
    font-size: 4.5em;
  }
  /* line 424, ../sass/main.scss */
  .hometype .grid-marker {
    width: 7.5%;
  }

  /*Work*/
  /* line 428, ../sass/main.scss */
  .work .project h2 {
    font-size: 2.25em;
  }

  /*Project*/
  /* line 433, ../sass/main.scss */
  .work-detail .summary {
    width: 74.72222%;
    color: #747474;
    font-family: "AvenirLight", Futura, "Trebuchet MS", Arial, sans-serif;
  }
  /* line 435, ../sass/main.scss */
  .work-detail .summary h4 {
    font-size: 1.5em;
    font-weight: normal;
    margin: 0 0 4% 0;
  }
  /* line 438, ../sass/main.scss */
  .work-detail .summary p {
    font-size: 1em;
  }
  /* line 444, ../sass/main.scss */
  .work-detail .work .caption {
    font-size: 1em;
  }
  /* line 445, ../sass/main.scss */
  .work-detail .work.three-quarters .caption {
    position: relative;
  }
  /* line 446, ../sass/main.scss */
  .work-detail .work.type {
    font-size: .9em;
    line-height: 1.5;
    margin-top: 7%;
  }

  /* line 451, ../sass/main.scss */
  .project-body .title h2 {
    font-size: 3.5em;
    float: none;
    width: 60%;
  }
  /* line 452, ../sass/main.scss */
  .project-body .title h3 {
    font-size: .75em;
    bottom: 10px;
  }
}
@media only screen and (max-width: 1024px) {
  /*Home*/
  /* line 459, ../sass/main.scss */
  .hometype {
    padding-top: 3.5%;
  }
  /* line 461, ../sass/main.scss */
  .hometype h1 {
    font-size: 4.5em;
  }
  /* line 462, ../sass/main.scss */
  .hometype a {
    font-size: 11px;
  }

  /*Work*/
  /* line 468, ../sass/main.scss */
  .work .project h2 {
    font-size: 2em;
  }
  /* line 469, ../sass/main.scss */
  .work .project h3 {
    font-size: 0.75em;
  }

  /*Project*/
  /* line 474, ../sass/main.scss */
  .work-detail .project-head {
    position: relative;
  }
  /* line 475, ../sass/main.scss */
  .work-detail .project-body {
    margin: 0;
  }
  /* line 476, ../sass/main.scss */
  .work-detail .summary {
    width: 87.36111%;
    color: #747474;
    font-family: "AvenirLight", Futura, "Trebuchet MS", Arial, sans-serif;
  }
  /* line 478, ../sass/main.scss */
  .work-detail .summary h4 {
    font-size: 1.5em;
    font-weight: normal;
    margin: 0 0 4% 0;
  }
  /* line 481, ../sass/main.scss */
  .work-detail .summary p {
    font-size: 1em;
  }
  /* line 486, ../sass/main.scss */
  .work-detail .work {
    margin-top: 10%;
  }
  /* line 487, ../sass/main.scss */
  .work-detail .work.type {
    width: 24.16667%;
    margin-top: 10%;
  }
  /* line 488, ../sass/main.scss */
  .work-detail .work.full .caption {
    left: 6.31944%;
  }
  /* line 489, ../sass/main.scss */
  .work-detail .work.half {
    width: 43.125%;
  }
  /* line 491, ../sass/main.scss */
  .work-detail .work.three-quarters .caption {
    left: -8.21527%;
  }

  /* line 497, ../sass/main.scss */
  .project-body .title h2 {
    font-size: 3.5em;
    float: none;
    width: 100%;
  }
  /* line 498, ../sass/main.scss */
  .project-body .title h3 {
    float: none;
    font-size: .75em;
    position: relative;
    margin: 2% 0 0 0;
    width: 100%;
  }
}
@media only screen and (max-device-width: 1024px) {
  /* line 504, ../sass/main.scss */
  #content.home video {
    display: none;
  }

  /* line 505, ../sass/main.scss */
  #content.home {
    background: url("../img/video-poster.jpg") no-repeat 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  /*Project*/
  /* line 511, ../sass/main.scss */
  .work-detail .web-video .laptop-holder video {
    display: none;
  }
  /* line 512, ../sass/main.scss */
  .work-detail .web-video .laptop-holder img {
    display: block;
    z-index: 5000;
  }
}
@media only screen and (max-width: 768px) {
  /*Page Load*/
  /* line 520, ../sass/main.scss */
  .blink {
    width: 20%;
    left: 40%;
  }

  /*Home*/
  /* line 523, ../sass/main.scss */
  .hometype {
    padding: 0;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-60%);
  }
  /* line 524, ../sass/main.scss */
  .hometype h1 {
    font-size: 3em;
    text-align: center;
    line-height: 1;
  }
  /* line 525, ../sass/main.scss */
  .hometype h1 span, .hometype h1 span.inline {
    display: inline;
    letter-spacing: 0;
  }
  /* line 527, ../sass/main.scss */
  .hometype .grid-marker {
    display: inline-block;
    height: 6px;
    margin: 0 0 1% 0;
  }
  /* line 528, ../sass/main.scss */
  .hometype a {
    display: block;
  }

  /* line 531, ../sass/main.scss */
  header nav ul li {
    font-size: 30px;
  }

  /*Work*/
  /* line 534, ../sass/main.scss */
  .work .project {
    width: 96.75%;
  }

  /*Project*/
  /* line 538, ../sass/main.scss */
  .project-head img {
    height: 33%;
    position: absolute;
    bottom: 30px;
    left: 8.0729167%;
    max-width: 100%;
    max-height: 100%;
  }

  /* line 540, ../sass/main.scss */
  .work-detail .work {
    margin-top: 20%;
  }
  /* line 541, ../sass/main.scss */
  .work-detail .work.type {
    width: 74.72222%;
    margin-top: 10%;
    margin: 10% auto 0;
    float: none;
    font-size: .75em;
    line-height: 1.75;
  }
  /* line 542, ../sass/main.scss */
  .work-detail .work.half, .work-detail .work.three-quarters {
    width: 87.36111%;
    float: none;
    margin: 10% auto 0;
  }
  /* line 543, ../sass/main.scss */
  .work-detail .work .caption {
    width: 87.36111%;
  }
  /* line 544, ../sass/main.scss */
  .work-detail .work.three-quarters .caption {
    left: 0;
  }
}
@media only screen and (max-width: 640px) {
  /*Navigation*/
  /* line 552, ../sass/main.scss */
  header nav #bluestone-logo {
    height: 25px;
    width: 79px;
  }

  /*Home*/
  /* line 556, ../sass/main.scss */
  .hometype h1 {
    font-size: 2em;
    text-align: center;
    line-height: 1;
  }
  /* line 557, ../sass/main.scss */
  .hometype h1 span, .hometype h1 span.inline {
    display: inline;
    letter-spacing: 0;
  }
  /* line 559, ../sass/main.scss */
  .hometype .grid-marker {
    display: inline-block;
    height: 6px;
    margin: 0 0 1% 0;
  }
  /* line 560, ../sass/main.scss */
  .hometype a {
    display: block;
  }

  /* line 564, ../sass/main.scss */
  header nav ul li {
    font-size: 30px;
  }

  /*Work*/
  /*Project*/
  /* line 572, ../sass/main.scss */
  .work-detail .summary {
    width: 87.36111%;
    color: #747474;
    font-family: "AvenirLight", Futura, "Trebuchet MS", Arial, sans-serif;
  }
  /* line 574, ../sass/main.scss */
  .work-detail .summary h4 {
    font-size: 1.25em;
    font-weight: normal;
    margin: 0 0 4% 0;
  }
  /* line 577, ../sass/main.scss */
  .work-detail .summary p {
    font-size: .8725em;
    float: none;
    width: 100%;
  }

  /* line 586, ../sass/main.scss */
  .project-body .title h2 {
    font-size: 2em;
    float: none;
  }
  /* line 587, ../sass/main.scss */
  .project-body .title h3 {
    float: none;
    font-size: .6725em;
    position: relative;
    margin: 5% 0 0 0;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 603, ../sass/main.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 610, ../sass/main.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 617, ../sass/main.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 622, ../sass/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 634, ../sass/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 643, ../sass/main.scss */
.invisible {
  visibility: hidden;
}

/* line 648, ../sass/main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 653, ../sass/main.scss */
.clearfix:after {
  clear: both;
}

/* line 657, ../sass/main.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 666, ../sass/main.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 674, ../sass/main.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 678, ../sass/main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 682, ../sass/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 688, ../sass/main.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 693, ../sass/main.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 698, ../sass/main.scss */
  thead {
    display: table-header-group;
  }

  /* line 703, ../sass/main.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 707, ../sass/main.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 717, ../sass/main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 723, ../sass/main.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* ==========================================================================
   Royal Slider
   ========================================================================== */
/* v1.0.5 */
/* Core RS CSS file. 95% of time you shouldn't change anything here. */
/* line 737, ../sass/main.scss */
.royalSlider {
  width: 100%;
  height: 400px;
  position: relative;
  direction: ltr;
}

/* line 743, ../sass/main.scss */
.web.royalSlider {
  padding: 0 0 18% 0;
}

/* line 744, ../sass/main.scss */
.web.royalSlider .rsOverflow {
  padding: 0 0 18% 0;
}

/* line 745, ../sass/main.scss */
.web.royalSlider .rsOverflow .rsContainer {
  padding: 0 0 18% 0;
}

/* line 747, ../sass/main.scss */
.royalSlider > * {
  float: left;
}

/* line 751, ../sass/main.scss */
.rsWebkit3d .rsSlide {
  -webkit-transform: translateZ(0);
}

/* line 765, ../sass/main.scss */
.rsWebkit3d .rsSlide,
.rsWebkit3d .rsContainer,
.rsWebkit3d .rsThumbs,
.rsWebkit3d .rsPreloader,
.rsWebkit3d img,
.rsWebkit3d .rsOverflow,
.rsWebkit3d .rsBtnCenterer,
.rsWebkit3d .rsAbsoluteEl,
.rsWebkit3d .rsABlock,
.rsWebkit3d .rsLink {
  -webkit-backface-visibility: hidden;
}

/* line 770, ../sass/main.scss */
.rsFade.rsWebkit3d .rsSlide,
.rsFade.rsWebkit3d img,
.rsFade.rsWebkit3d .rsContainer {
  -webkit-transform: none;
}

/* line 773, ../sass/main.scss */
.rsOverflow {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 781, ../sass/main.scss */
.rsVisibleNearbyWrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  left: 0;
  top: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 790, ../sass/main.scss */
.rsVisibleNearbyWrap .rsOverflow {
  position: absolute;
  left: 0;
  top: 0;
}

/* line 796, ../sass/main.scss */
.rsContainer {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 804, ../sass/main.scss */
.rsArrow,
.rsThumbsArrow {
  cursor: pointer;
}

/* line 808, ../sass/main.scss */
.rsThumb {
  float: left;
  position: relative;
}

/* line 816, ../sass/main.scss */
.rsArrow,
.rsNav,
.rsThumbsArrow {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

/* line 823, ../sass/main.scss */
.rsHidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  -moz-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  -o-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  transition: visibility 0s linear 0.3s,opacity 0.3s linear;
}

/* line 833, ../sass/main.scss */
.rsGCaption {
  width: 100%;
  float: left;
  text-align: center;
}

/* Fullscreen options, very important ^^ */
/* line 840, ../sass/main.scss */
.royalSlider.rsFullscreen {
  position: fixed !important;
  height: auto !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 2147483647 !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
}

/* line 853, ../sass/main.scss */
.royalSlider .rsSlide.rsFakePreloader {
  opacity: 1 !important;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  display: none;
}

/* line 862, ../sass/main.scss */
.rsSlide {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/* line 874, ../sass/main.scss */
.royalSlider.rsAutoHeight,
.rsAutoHeight .rsSlide {
  height: auto;
}

/* line 878, ../sass/main.scss */
.rsContent {
  width: 100%;
  height: 100%;
  position: relative;
}

/* line 884, ../sass/main.scss */
.rsPreloader {
  position: absolute;
  z-index: 0;
}

/* line 889, ../sass/main.scss */
.rsNav {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 894, ../sass/main.scss */
.rsNavItem {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25);
}

/* line 898, ../sass/main.scss */
.rsThumbs {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  float: left;
  z-index: 22;
}

/* line 905, ../sass/main.scss */
.rsTabs {
  float: left;
  background: none !important;
}

/* line 910, ../sass/main.scss */
.rsTabs,
.rsThumbs {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 916, ../sass/main.scss */
.rsVideoContainer {
  /*left: 0;
  top: 0;
  position: absolute;*/
  /*width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  float: left;*/
  width: auto;
  height: auto;
  line-height: 0;
  position: relative;
}

/* line 931, ../sass/main.scss */
.rsVideoFrameHolder {
  position: absolute;
  left: 0;
  top: 0;
  background: #141414;
  opacity: 0;
  -webkit-transition: .3s;
}

/* line 939, ../sass/main.scss */
.rsVideoFrameHolder.rsVideoActive {
  opacity: 1;
}

/* line 945, ../sass/main.scss */
.rsVideoContainer iframe,
.rsVideoContainer video,
.rsVideoContainer embed,
.rsVideoContainer .rsVideoObj {
  position: absolute;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* ios controls over video bug, shifting video */
/* line 956, ../sass/main.scss */
.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 44px;
}

/* line 963, ../sass/main.scss */
.rsABlock {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 15;
}

/* line 971, ../sass/main.scss */
img.rsImg {
  max-width: none;
}

/* line 975, ../sass/main.scss */
.web img.rsImg {
  margin-top: 0 !important;
}

/* line 979, ../sass/main.scss */
.grab-cursor {
  cursor: url(grab.png) 8 8, move;
}

/* line 983, ../sass/main.scss */
.grabbing-cursor {
  cursor: url(grabbing.png) 8 8, move;
}

/* line 987, ../sass/main.scss */
.rsNoDrag {
  cursor: auto;
}

/* line 991, ../sass/main.scss */
.rsLink {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 20;
  background: url(blank.gif);
}

/******************************
*
*  RoyalSlider White Controls Skin
*
*    1. Arrows 
*    2. Bullets
*    3. Thumbnails
*    4. Tabs
*    5. Fullscreen button
*    6. Play/close video button
*    7. Preloader
*    8. Caption
*    
*  Sprite: 'rs-minimal-white.png'
*  Feel free to edit anything
*  If you don't some part - just delete it
* 
******************************/
/* Background */
/* line 1027, ../sass/main.scss */
.rsMinW,
.rsMinW .rsOverflow,
.rsMinW .rsSlide,
.rsMinW .rsVideoFrameHolder,
.rsMinW .rsThumbs {
  background: #000;
  color: #FFF;
}

/***************
*
*  1. Arrows
*
****************/
/* line 1039, ../sass/main.scss */
.rsMinW .rsArrow {
  height: 32px;
  width: 32px;
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 21;
}

/* line 1048, ../sass/main.scss */
.rsMinW .rsArrowLeft {
  right: 37px;
  bottom: 7px;
}

/* line 1049, ../sass/main.scss */
.rsMinW .rsArrowRight {
  right: 7px;
  bottom: 7px;
}

/* line 1051, ../sass/main.scss */
.rsMinW .rsArrowIcn {
  width: 24px;
  height: 24px;
  margin-top: 3px;
  margin-left: 3px;
  position: absolute;
  cursor: pointer;
  background: url("rs-minimal-white.png") transparent;
  border-radius: 2px;
}

/* line 1067, ../sass/main.scss */
.rsMinW.rsHor .rsArrowLeft .rsArrowIcn {
  background-position: -68px -36px;
}

/* line 1068, ../sass/main.scss */
.rsMinW.rsHor .rsArrowRight .rsArrowIcn {
  background-position: -68px -68px;
}

/* line 1070, ../sass/main.scss */
.rsMinW.rsVer .rsArrowLeft .rsArrowIcn {
  background-position: -100px -36px;
}

/* line 1071, ../sass/main.scss */
.rsMinW.rsVer .rsArrowRight .rsArrowIcn {
  background-position: -100px -68px;
}

/* line 1073, ../sass/main.scss */
.rsMinW .rsArrowDisabled .rsArrowIcn {
  opacity: .3 !important;
  filter: alpha(opacity=30);
  *display: none;
}

/***************
*
*  2. Bullets
*
****************/
/* line 1082, ../sass/main.scss */
.rsMinW .rsBullets {
  position: absolute;
  bottom: 15px;
  right: 0;
  z-index: 35;
  padding-top: 4px;
  height: auto;
  text-align: center;
  line-height: 6px;
  overflow: hidden;
}

/* line 1094, ../sass/main.scss */
.rsMinW .rsBullet {
  width: 6px;
  height: 6px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 6px 5px 6px 4px;
}

/* line 1102, ../sass/main.scss */
.rsMinW .rsBullet span {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #CCC;
}

/* line 1109, ../sass/main.scss */
.rsMinW .rsBullet.rsNavSelected span {
  background: #FFF;
}

/***************
*
*  3. Thumbnails
*
****************/
/* line 1123, ../sass/main.scss */
.rsMinW .rsThumbsHor {
  width: 100%;
  height: 72px;
}

/* line 1127, ../sass/main.scss */
.rsMinW .rsThumbsVer {
  width: 96px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

/* line 1134, ../sass/main.scss */
.rsMinW.rsWithThumbsHor .rsThumbsContainer {
  position: relative;
  height: 100%;
}

/* line 1138, ../sass/main.scss */
.rsMinW.rsWithThumbsVer .rsThumbsContainer {
  position: relative;
  width: 100%;
}

/* line 1142, ../sass/main.scss */
.rsMinW .rsThumb {
  float: left;
  overflow: hidden;
  width: 96px;
  height: 72px;
}

/* line 1148, ../sass/main.scss */
.rsMinW .rsThumb img {
  width: 100%;
  height: 100%;
}

/* line 1152, ../sass/main.scss */
.rsMinW .rsThumb.rsNavSelected {
  background: #333;
}

/* line 1155, ../sass/main.scss */
.rsMinW .rsThumb.rsNavSelected img {
  filter: alpha(opacity=40);
  opacity: 0.7;
}

/* line 1159, ../sass/main.scss */
.rsMinW .rsThumb.rsNavSelected span.thumbIco {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid #FFF;
  border: 2px solid rgba(255, 255, 255, 0.9);
  -webkit-backface-visibility: hidden;
}

/* line 1169, ../sass/main.scss */
.rsMinW .rsTmb {
  display: block;
}

/* Thumbnails arrow icons */
/* line 1177, ../sass/main.scss */
.rsMinW .rsThumbsArrow {
  height: 100%;
  width: 20px;
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 21;
}

/* line 1185, ../sass/main.scss */
.rsMinW.rsWithThumbsVer .rsThumbsArrow {
  width: 100%;
  height: 20px;
}

/* line 1189, ../sass/main.scss */
.rsMinW.rsWithThumbsVer .rsThumbsArrowLeft {
  top: 0;
  left: 0;
}

/* line 1190, ../sass/main.scss */
.rsMinW.rsWithThumbsVer .rsThumbsArrowRight {
  bottom: 0;
  left: 0;
}

/* line 1192, ../sass/main.scss */
.rsMinW.rsWithThumbsHor .rsThumbsArrowLeft {
  left: 0;
  top: 0;
}

/* line 1193, ../sass/main.scss */
.rsMinW.rsWithThumbsHor .rsThumbsArrowRight {
  right: 0;
  top: 0;
}

/* line 1195, ../sass/main.scss */
.rsMinW .rsThumbsArrowIcn {
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
  position: absolute;
  cursor: pointer;
  background: url("rs-minimal-white.png");
}

/* line 1207, ../sass/main.scss */
.rsMinW.rsWithThumbsHor .rsThumbsArrowLeft .rsThumbsArrowIcn {
  background-position: -128px -32px;
}

/* line 1208, ../sass/main.scss */
.rsMinW.rsWithThumbsHor .rsThumbsArrowRight .rsThumbsArrowIcn {
  background-position: -128px -48px;
}

/* line 1210, ../sass/main.scss */
.rsMinW.rsWithThumbsVer .rsThumbsArrowLeft .rsThumbsArrowIcn {
  background-position: -144px -32px;
}

/* line 1211, ../sass/main.scss */
.rsMinW.rsWithThumbsVer .rsThumbsArrowRight .rsThumbsArrowIcn {
  background-position: -144px -48px;
}

/* line 1213, ../sass/main.scss */
.rsMinW .rsThumbsArrowDisabled {
  display: none !important;
}

/* Thumbnails resizing on smaller screens */
@media screen and (min-width: 0px) and (max-width: 800px) {
  /* line 1217, ../sass/main.scss */
  .rsMinW .rsThumb {
    width: 59px;
    height: 44px;
  }

  /* line 1221, ../sass/main.scss */
  .rsMinW .rsThumbsHor {
    height: 44px;
  }

  /* line 1224, ../sass/main.scss */
  .rsMinW .rsThumbsVer {
    width: 59px;
  }
}
/***************
*
*  4. Tabs
*
****************/
/* line 1238, ../sass/main.scss */
.rsMinW .rsTabs {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  padding-top: 12px;
  position: relative;
}

/* line 1245, ../sass/main.scss */
.rsMinW .rsTab {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  height: auto;
  width: auto;
  color: #333;
  padding: 5px 13px 6px;
  min-width: 72px;
  border: 1px solid #D9D9DD;
  border-right: 1px solid #f5f5f5;
  text-decoration: none;
  background-color: #000;
  background-image: -webkit-linear-gradient(top, #fefefe, #f4f4f4);
  background-image: -moz-linear-gradient(top, #fefefe, #f4f4f4);
  background-image: linear-gradient(to bottom, #fefefe, #f4f4f4);
  *display: inline;
  *zoom: 1;
}

/* line 1266, ../sass/main.scss */
.rsMinW .rsTab:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* line 1272, ../sass/main.scss */
.rsMinW .rsTab:last-child {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: 1px solid #cfcfcf;
}

/* line 1280, ../sass/main.scss */
.rsMinW .rsTab:active {
  border: 1px solid #D9D9DD;
  background-color: #f4f4f4;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
}

/* line 1285, ../sass/main.scss */
.rsMinW .rsTab.rsNavSelected {
  color: #000;
  border: 1px solid #999;
  text-shadow: 1px 1px #838383;
  box-shadow: 0 1px 9px rgba(102, 102, 102, 0.65) inset;
  background: #ACACAC;
  background-image: -webkit-linear-gradient(top, #acacac, #bbbbbb);
  background-image: -moz-llinear-gradient(top, #acacac, #bbbbbb);
  background-image: linear-gradient(to bottom, #acacac, #bbbbbb);
}

/***************
*
*  5. Fullscreen button
*
****************/
/* line 1306, ../sass/main.scss */
.rsMinW .rsFullscreenBtn {
  right: 0;
  top: 0;
  width: 44px;
  height: 44px;
  z-index: 22;
  display: block;
  position: absolute;
  cursor: pointer;
}

/* line 1317, ../sass/main.scss */
.rsMinW .rsFullscreenIcn {
  display: block;
  margin: 6px;
  width: 32px;
  height: 32px;
  background: url("rs-minimal-white.png") 0 0 transparent;
}

/* line 1325, ../sass/main.scss */
.rsMinW .rsFullscreenIcn:hover {
  opacity: 0.8;
}

/* line 1328, ../sass/main.scss */
.rsMinW.rsFullscreen .rsFullscreenIcn {
  background-position: -32px 0;
}

/***************
*
*  6. Play/close video button
*
****************/
/* line 1342, ../sass/main.scss */
.rsMinW .rsPlayBtn {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  width: 64px;
  height: 64px;
  margin-left: -32px;
  margin-top: -32px;
  cursor: pointer;
}

/* line 1350, ../sass/main.scss */
.rsMinW .rsPlayBtnIcon {
  width: 64px;
  display: block;
  height: 64px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  background: url(rs-minimal-white.png) no-repeat 0 -32px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
  *background-color: #000;
}

/* line 1366, ../sass/main.scss */
.rsMinW .rsPlayBtn:hover .rsPlayBtnIcon {
  background-color: rgba(0, 0, 0, 0.9);
}

/* line 1369, ../sass/main.scss */
.rsMinW .rsBtnCenterer {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
}

/* line 1376, ../sass/main.scss */
.rsMinW .rsCloseVideoBtn {
  right: 0;
  top: 0;
  width: 44px;
  height: 44px;
  z-index: 500;
  position: absolute;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}

/* line 1388, ../sass/main.scss */
.rsMinW .rsCloseVideoBtn.rsiOSBtn {
  top: -38px;
  right: -6px;
}

/* line 1393, ../sass/main.scss */
.rsMinW .rsCloseVideoIcn {
  margin: 6px;
  width: 32px;
  height: 32px;
  background: url("rs-minimal-white.png") -64px 0;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
  *background-color: #000;
}

/* line 1402, ../sass/main.scss */
.rsMinW .rsCloseVideoIcn:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

/***************
*
*  7. Preloader
*
****************/
/* line 1414, ../sass/main.scss */
.rsMinW .rsPreloader {
  width: 20px;
  height: 20px;
  background-image: url(../preloaders/preloader-white.gif);
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
}

/***************
*
*  8. Global caption
*
****************/
/* line 1433, ../sass/main.scss */
.rsMinW .rsGCaption {
  position: absolute;
  float: none;
  bottom: 6px;
  left: 6px;
  text-align: left;
  background: #000;
  background: rgba(0, 0, 0, 0.75);
  color: #FFF;
  padding: 2px 8px;
  width: auto;
  font-size: 12px;
  border-radius: 2px;
}
