/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

a, a:focus, a:hover { outline: none; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/************************/
/*****SASS VARIABLES*****/
/************************/

/*Colors*/
$bsblue: #0075be;
$lightgray: #b3b3b3;
$mediumgray: #747474;
$almostblack: #191919;

/*Columns*/
$col1: 5.2083333%;/*100/1920*/
$col2: 11.527778%;/*221.3333333/1920*/
$col3: 17.847222%;/*342.6666633/1920*/
$col4: 24.166666%;/*463.9999966/1920*/
$col5: 30.486111%;/*585.3333299/1920*/
$col6: 36.805555%;/*706.6666632/1920*/
$col7: 43.125%;/*827.9999965/1920*/
$col8: 49.444444%;/*949.3333298/1920*/
$col9: 55.763889%;/*1070.6666631/1920*/
$col10: 62.083333%;/*1191.9999964/1920*/
$col11: 68.402778%;/*1313.3333297/1920*/
$col12: 74.722222%;/*1434.666663/1920*/
$col13: 81.041666%;/*1555.9999963/1920*/
$col14: 87.361111%;/*1677.3333296/1920*/
$col15: 93.680555;/*1798.6666629/1920*/
$col16: 100%;/*1920/1920*/

$colmarg: 1.1111111%;/*21.3333333/1920*/
$colpad: 0.52083333%;/*10/1920*/

/*Typography*/
@font-face {
    font-family: 'AvenirBlack';
    src: url('avenirltstd-black.eot');
    src: url('avenirltstd-black.eot') format('embedded-opentype'),
         url('avenirltstd-black.woff') format('woff'),
         url('avenirltstd-black.ttf') format('truetype'),
         url('avenirltstd-black.svg#AvenirLTStd95Black') format('svg');
}

@font-face {
    font-family: 'AvenirHeavy';
    src: url('avenirltstd-heavy.eot');
    src: url('avenirltstd-heavy.eot') format('embedded-opentype'),
         url('avenirltstd-heavy.woff') format('woff'),
         url('avenirltstd-heavy.ttf') format('truetype'),
         url('avenirltstd-heavy.svg#AvenirLTStd85Heavy') format('svg');
}

@font-face {
    font-family: 'AvenirLight';
    src: url('avenirltstd-light.eot');
    src: url('avenirltstd-light.eot') format('embedded-opentype'),
         url('avenirltstd-light.woff') format('woff'),
         url('avenirltstd-light.ttf') format('truetype'),
         url('avenirltstd-light.svg#AvenirLTStd35Light') format('svg');
}

@font-face {
    font-family: 'AvenirMedium';
    src: url('avenirltstd-medium.eot');
    src: url('avenirltstd-medium.eot') format('embedded-opentype'),
         url('avenirltstd-medium.woff') format('woff'),
         url('avenirltstd-medium.ttf') format('truetype'),
         url('avenirltstd-medium.svg#AvenirLTStd65Medium') format('svg');
}

@font-face {
    font-family: 'AvenirNextBold';
    src: url('avenirnextltpro-bold.eot');
    src: url('avenirnextltpro-bold.eot') format('embedded-opentype'),
         url('avenirnextltpro-bold.woff') format('woff'),
         url('avenirnextltpro-bold.ttf') format('truetype'),
         url('avenirnextltpro-bold.svg#AvenirNextLTProBold') format('svg');
}

@font-face {
    font-family: 'AvenirNextRegular';
    src: url('avenirnextltpro-regular.eot');
    src: url('avenirnextltpro-regular.eot') format('embedded-opentype'),
         url('avenirnextltpro-regular.woff') format('woff'),
         url('avenirnextltpro-regular.ttf') format('truetype'),
         url('avenirnextltpro-regular.svg#AvenirNextLTProRegular') format('svg');
}

$avenirblack: 'AvenirBlack', Futura, "Trebuchet MS", Arial, sans-serif;
$avenirheavy: 'AvenirHeavy', Futura, "Trebuchet MS", Arial, sans-serif;
$avenirlight: 'AvenirLight', Futura, "Trebuchet MS", Arial, sans-serif;
$avenirmedium: 'AvenirMedium', Futura, "Trebuchet MS", Arial, sans-serif;
$avenirnextbold: 'AvenirNextBold', Futura, "Trebuchet MS", Arial, sans-serif;
$avenirnextregular: 'AvenirNextRegular', Futura, "Trebuchet MS", Arial, sans-serif;






/*********************/
/*****SASS MIXINS*****/
/*********************/

/*Transitions*/
@mixin transition-ease-out {
	-webkit-transition: all .15s ease-out;
	-moz-transition: all .15s ease-out;
	-o-transition: all .15s ease-out;
	transition: all .15s ease-out;
}

@mixin transition-ease-in {
	-webkit-transition: all .15s ease-in;
	-moz-transition: all .15s ease-in;
	-o-transition: all .15s ease-in;
	transition: all .15s ease-in;
}

@mixin transition-cubic-bezier {
	-webkit-transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	-moz-transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	-o-transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@mixin two-color-radial-gradient {
	background: #004b7b; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #004b7b 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#004b7b), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #004b7b 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #004b7b 0%,#000000 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #004b7b 0%,#000000 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #004b7b 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004b7b', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin scale-content {
	-webkit-transform: scale(.5) !important;
	-moz-transform: scale(.5) !important;
	-o-transform: scale(.5) !important;
	transform: scale(.5) !important;
}

@mixin translate($xValue, $yValue) {
	-moz-transform: translate($xValue,$yValue); -o-transform: translate($xValue,$yValue); -webkit-transform: translate($xValue,$yValue); transform: translate($xValue,$yValue);
}


@mixin transformOriginY($yOrigin) {
	-moz-transform-origin-y: ($yOrigin); -o-transform-origin-y: ($yOrigin); -webkit-transform-origin-y: ($yOrigin); transform-origin-y: ($yOrigin);
}

@mixin transformOriginX($xOrigin) {
	-moz-transform-origin-x: ($xOrigin); -o-transform-origin-x: ($xOrigin); -webkit-transform-origin-x: ($xOrigin); transform-origin-x: ($xOrigin);
}

@mixin rot-neg-90 {
  /* rotate -90 deg, not sure if a negative number is supported so I used 270 */
  -moz-transform: rotate(270deg);
  -moz-transform-origin: 0 100%;
  -webkit-transform: rotate(270deg);
  -webkit-transform-origin: 0 100%;
  -o-transform: rotate(270deg);
  -o-transform-origin: 0 100%;
  transform: rotate(270deg);
  transform-origin: 0 100%;

  /* IE<9 */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}


h1 { font-weight: normal; }
body { background: #454545; font-family: $avenirlight; color: $mediumgray; }
.grid-marker { display: block; background: $bsblue; }

/*Navigation*/
#contain-head { overflow: hidden; position: absolute; }
header { width: 95%; background: #fff; background: rgba(255,255,255,.97); padding: 20px 2.5% 0 2.5%; position: fixed; left: 0; bottom: 0; @include transition-cubic-bezier; z-index: 1000; display: none;
	nav { float: right; color: $lightgray; font-size: 23px; text-align: right; width: 100%;
		#bluestone-logo { width: 116px; height: 20px; float: left; 
			img { width: 100%; max-width: 100%; }
		}
		a.menu-button { padding-top: 8px; }
		a { color: $lightgray; text-decoration: none; font-family: $avenirlight; }
		& > a { display: block; float: right;
			.bars { width: 30px; 
				span { width: 100%; height: 3px; display: block; background: $almostblack; margin: 0 0 5px 0; @include transition-ease-in }
			}
		}
		& > a:hover {
			.bars { 
				span { background: $bsblue; @include transition-ease-in }
			 }
		}
		ul { margin: 100px 0 0 0; 
			li { font-size: 72px; @include translate(150px,0); @include transition-ease-in; opacity: 0; margin-bottom: 2.5%;
				a { @include transition-ease-out; } 
				a:hover { color: $bsblue; }
			}
			li.in { @include translate(0,0); @include transition-cubic-bezier; opacity: 1; }
		}
	}
}
.open header { @include transition-cubic-bezier; }
.open #contain-head > header > nav > a.menu-button > div > span:nth-child(1), .open #contain-head > header > nav > a.menu-button > div > span:nth-child(3) { opacity: 0; }
.open .bars span { background: $bsblue; }

/*Home*/
#content { 
	@include transition-ease-out;
	transition-delay: .1s;
	-webkit-transition-delay: .1s; /* Safari */
	@include transformOriginY(25%);
}
#content.home {  }
.open #content { 
	@include transformOriginY(25%); @include scale-content; @include transition-ease-out; 
	transition-delay: .1s;
	-webkit-transition-delay: .1s; /* Safari */
}

.hometype {
	text-transform: uppercase; width: $col15; padding: 7.96875% 0 0 $col1+$colmarg; color: #fff; z-index: 100; position: relative;
	h1 { 
		font-family: $avenirlight; color: #fff; font-size: 5.625em; line-height: 1; letter-spacing: 4px; margin: 0;
		span { display: block;  @include transition-ease-out; @include translate(-20px,0); }
		span.inline { display: inline-block; }
	}
	.grid-marker { width: 5.5555556%; height: 12px; margin: 1.0833333% 0 2.2499999% 6.6666667%; }
	p { }
	a {
		color: #fff; text-decoration: none; margin-left: -13px; font-size: 14px; letter-spacing: 1px; font-family: $avenirlight;
		span {width: 0; height: 0; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-left: 5px solid #fff; font-size: 0; line-height: 0; display: inline-block; margin: 0 0 0 5px; text-align: left;  }
	}
}

/*Work*/
.work .project * { opacity: 0; @include transition-cubic-bezier; }
.work .project:hover * { opacity: 1; @include transition-cubic-bezier;  };

.work .project { opacity: 0; width: 46.875%; height: auto; background: url('../img/work-roadid.jpg') no-repeat center; color: #fff; display: block; float: left; text-decoration: none; padding: 0 0 0 3.125%; position: relative; background-size: cover; @include transition-cubic-bezier;
	h2, h3, .grid-marker { z-index: 10; position: relative; }
	h2, h3 { font-weight: normal; margin: 0; padding: 0; text-decoration: none; }
	h2 { font-family: $avenirlight; font-size: 3.75em; line-height: 1; margin: 6.25% 0 0 0; text-transform: uppercase; }
	h3 { font-family: $avenirmedium; font-size: 0.875em; width: 50%; }
	.grid-marker { width: $col2; margin: 1.5% 0 3% $col1+$colpad; height: 12px; }
	.overlay{ background: rgba(0,0,0,.6); display: block; position: absolute; height: 100%; width: 100%; top: 0; left: 0; z-index: 1; }
}
.work .project.in { opacity: 1; }

#roadid { background-image: url('../img/work-roadid.jpg'); }
#amalfi { background-image: url('../img/work-amalfi.jpg'); }
#downtek { background-image: url('../img/work-downtek.jpg'); }
#cosign { background-image: url('../img/work-cosign.jpg'); }

/*Project*/
.work-detail { 
	background: #fff;
	.summary {
		width: $col12; margin: 7% auto 0 auto; color: $mediumgray; font-family: $avenirlight;
		h4 {
			font-size: 2.25em; font-weight: normal; margin: 0 0 4% 0;
		}
		p {
			font-size: 1.3125em; width: 49.256505%; float: left; margin: 0;
			&.left { margin: 0 1.48699% 0 0; }
		}
	}
	.work-block { 
		width: $col12; margin: 0 auto; position: relative;
		.caption-wrapper { width: 100%; height: 100%; position: absolute; }
		.caption { font-size: .875em; @include rot-neg-90; position: absolute; bottom: 0; text-align: right; margin-bottom: -7%; left: -$colmarg; 
			.grid-marker { width: 5%; height: 3px; position: absolute; height: 3px; width: 20px; display: inline-block; top: 20px; right: 15px; }
		}
		img, p { width: 100%; max-width: 100%; height: 100%; max-height: 100%; margin: 7% 0 0 0; }
		//work blocks with text
		img.callout { width: 66.171004%; /*col8/col12*/ float: left; margin-right: 1.48699%; }
		p.callout { width: 32.342007%/*col4/col12*/; float: left; }
	}
 }
.project-head { width: 100%; background: url('../img/header-amalfi.jpg') no-repeat; background-size: cover; padding: 40% 0 0 0; position: relative; min-width: 100%; width: auto; height: auto; overflow: hidden; display: block; z-index: 1; }
.project-head img { height: 25%; position: absolute; bottom: 60px; left: 8.0729167%; max-width: 100%; max-height: 100%; }
.project-body { z-index: 100; position: relative; background: #fff; overflow: hidden;
	.title { width: $col14; margin: 80px auto 0 auto; position: relative; 
		h2, h3 { color: #252525; font-weight: normal; margin: 0; padding: 0; line-height: 1; }
		h2 { text-transform: uppercase; font-size: 4.5em; font-family: $avenirlight; float: left; }
		h3 { font-family: $avenirmedium; float: right; font-size: .875em; position: absolute; bottom: 15px; right: 0; }
	}
}









/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1279px) {
	/*Project*/
	.work-detail { 
		.summary {
			width: $col12; margin: 7% auto 0 auto; color: $mediumgray; font-family: $avenirlight;
			h4 {
				font-size: 1.5em; font-weight: normal; margin: 0 0 4% 0;
			}
			p {
				font-size: 1em; 
				&.left {  }
			}
		}
		.work-block { 
			width: $col12; margin: 0 auto; position: relative;
			.caption-wrapper { width: 100%; height: 100%; position: absolute; }
			.caption { font-size: .875em; @include rot-neg-90; position: absolute; bottom: 0; text-align: right; margin-bottom: -7%; left: -$colmarg; 
				.grid-marker { width: 5%; height: 3px; position: absolute; height: 3px; width: 20px; display: inline-block; top: 20px; right: 15px; }
			}
			img, p {  }
			//work blocks with text
			img.callout {  }
			p.callout {  }
		}
	 }
	.project-body { 
		.title { 
			h2, h3 { }
			h2 { font-size: 3.5em; float: none; }
			h3 { float: none; font-size: .75em; position: relative; margin: 2% 0 0 0; }
		}
	}
}

@media only screen and (max-width: 1023px) {
	/*Work*/
	.work .project { 
		h2 { font-size: 2em; }
		h3 { font-size: 0.75em; }
		.grid-marker { height: 7px; }
	}
	
	/*Project*/
	.work-detail { 
		.summary {
			width: $col14; margin: 7% auto 0 auto; color: $mediumgray; font-family: $avenirlight;
			h4 {
				font-size: 1.5em; font-weight: normal; margin: 0 0 4% 0;
			}
			p {
				font-size: 1em; 
				&.left {  }
			}
		}
		.work-block { 
			width: $col14; margin: 0 auto; position: relative;
			.caption-wrapper {  }
			.caption { font-size: .75em; 
				.grid-marker { top: 16px; }
			}
			img, p {  }
			//work blocks with text
			img.callout {  }
			p.callout {  }
		}
	 }
	.project-body { 
		.title { 
			h2, h3 { }
			h2 { font-size: 3.5em; float: none; }
			h3 { float: none; font-size: .75em; position: relative; margin: 2% 0 0 0; }
		}
	}
}

@media only screen and (max-width: 768px) {
	header { padding-top: 5px; }
	header nav ul li { font-size: 30px; }
	
	/*Work*/
	.work .project { width: 100%;
	}
	
	/*Project*/
	.project-head img { height: 33%; position: absolute; bottom: 30px; left: 8.0729167%; max-width: 100%; max-height: 100%; }
	.work-block { 
		.caption { font-size: .75em; left: -2.11111%;
			.grid-marker { top: 16px; display: none; }
		}
	}
}

@media only screen and (max-width: 568px) {
	
	header { padding-top: 5px; }
	header nav ul li { font-size: 30px; }
	
	/*Work*/
	.work .project { width: 100%;
	}
	
	/*Project*/
	.work-detail { 
		.summary {
			width: $col14; margin: 7% auto 0 auto; color: $mediumgray; font-family: $avenirlight;
			h4 {
				font-size: 1.25em; font-weight: normal; margin: 0 0 4% 0;
			}
			p {
				font-size: .8725em; float: none; width: 100%;
				&.left {  }
			}
		}
		.work-block { 
			width: $col14; margin: 0 auto; position: relative;
			.caption-wrapper {  }
			.caption { font-size: .75em; 
				.grid-marker { top: 16px; display: none; }
			}
			img, p {  }
			//work blocks with text
			img.callout { float: none; width: 66.77777777%;  margin-right: auto; display: inherit; }
			p.callout { font-size: .8725em; float: none; width: 66.77777777%;  margin-right: auto; }
		}
	 }
	.project-body { 
		.title { 
			h2, h3 { }
			h2 { font-size: 2em; float: none; }
			h3 { float: none; font-size: .6725em; position: relative; margin: 5% 0 0 0; }
		}
	}
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}